{% include "header.html" %}

<div class='container py-3'>
    <h3>{{count}} items in your cart</h3>
    <div class="row">

        <div class="col-lg-8 col-12">

            {% for item in all_in_cart %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my-4">


                <div class="col-auto d-none d-lg-block">
                    <a href="{{url_for('product', id = item.product_id)}}"><img class="bd-placeholder-img card-img-top"
                                                                                src={{item.product.product_img_url}}
                                                                                style="object-fit: contain; width: 300px; height:200px"></a>
                </div>

                <div class="col p-4 d-flex flex-column position-static" style="background-color:#FFFBF5 ">
                    <h4 class="mb-0">{{item.product.product_name}}</h4>
                    <div class="mb-1 text-body-secondary mt-2">Quantity: 1</div>
                    <a href="{{url_for('remove_from_cart', item_id = item.id)}}">
                        Remove from cart
                    </a>
                </div>

            </div>

            {% endfor %}


        </div>


        {% if count>0: %}
        <div class="col-lg-4 col-12 my-4">

            <a class='btn btn-success' href="/checkout" style="width: 100%;">Checkout</a>
        </div>
        {% endif %}

    </div>


</div>


{% include "footer.html" %}